<a href="https://colab.research.google.com/github/DemiurgoMori/Portafolios-/blob/main/Deteccion_de_Fraude_de_tarjetas_de_Credito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Acerca de los datos

#Obtencion de los datos

In [ ]:
#Importando las librerias 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from google.colab import files

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
files.upload()

In [ ]:
#Cargando el dataset con pandas 
credit_card_data=pd.read_csv("/content/creditcard.csv")

In [ ]:
# Mostramos Los primeros 5 datos del dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
#Miramos las los ultimos datos del dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
55546,47004,1.283418,0.354874,0.158519,0.607335,-0.186818,-0.865444,0.084609,-0.186195,0.042276,...,-0.310652,-0.887568,0.084508,-0.012270,0.267755,0.116476,-0.022729,0.027233,0.89,0.0
55547,47005,-0.969584,-0.514812,1.010076,-0.492493,-1.074442,0.812377,1.739011,0.069684,-0.741379,...,0.137958,-0.378729,0.989131,-0.311335,-0.302619,0.720578,-0.171671,0.034326,424.80,0.0
55548,47005,-0.448083,0.936043,1.308078,0.424255,0.141240,-0.224215,1.114183,-0.286478,-0.144553,...,0.084264,0.345878,-0.222427,0.052293,0.093368,-0.387899,-0.354380,-0.223041,55.75,0.0
55549,47005,0.616391,-0.770376,-0.306186,1.374006,-0.177289,0.186992,0.417697,0.073573,-0.009001,...,0.182098,-0.039148,-0.409170,-0.315762,0.626198,-0.254219,-0.042365,0.044234,293.00,0.0
55550,47005,-2.212795,0.701029,1.063799,1.449808,-1.045775,0.416184,-1.071689,-2.157124,0.014993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Analisis de datos

In [ ]:
#Informacion sobre el dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
#Revisando el numero de valores nulos en cada columna

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data1 =credit_card_data.dropna()

In [ ]:
credit_card_data1.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data.shape

(284807, 31)

##Modelo de Trabajo



#  Preprocesamiento de los datos

In [ ]:
diferencia2=credit_card_data1.size #Limpio de valores nulos

In [ ]:
diferencia1=credit_card_data.size #Valores nulos 


print("El numero de valores nulos dentro del datraframe es :",diferencia1-diferencia2)

El numero de valores nulos dentro del datraframe es : 0

In [ ]:
#Como se distribuyen los datos: Transacciones normales vs Transacciones frauduluentas

In [ ]:
credit_card_data1['Class'].value_counts()#  Normales vs  Fraudulentas

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
"""
Se puede observar un gran desvalaceo de los datos donde 284315 son transacciones normales y  492 son  transacciones fraudulentas 
"""

In [ ]:
new_dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
# Separamos las variables a observar 
legitimo = credit_card_data[credit_card_data.Class == 0]
fraude = credit_card_data[credit_card_data.Class == 1]

print(legitimo.shape)
print(fraude.shape)

(284315, 31)
(492, 31)

In [ ]:
legitimo_muestra = legitimo.sample(n=492)

In [ ]:
new_dataset = pd.concat([legitimo_muestra, fraude], axis=0)

In [ ]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91279.571138,0.102655,-0.118524,0.034475,-0.071532,-0.007099,0.024860,-0.057896,-0.007628,-0.047260,...,0.024262,-0.016166,-0.001270,-0.020195,0.023945,0.010307,0.031218,0.023441,0.011342,91.965346
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
#Dividiendo los datos de entrado y las variables objetivo del modelo
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print( X )

            Time        V1        V2        V3        V4        V5        V6  \
66759    52209.0 -0.317704 -2.498268  0.255061  1.758700 -1.350531  0.965076
220060  142004.0  2.005341  0.056725 -1.604193  0.683026 -0.096109 -2.132530
102801   68366.0 -1.832581 -0.396052  1.163050  0.063728  1.788042 -1.146750
5223      5024.0 -0.673404  0.853725  1.768952  0.131267  0.624866  0.482441
137421   82153.0 -1.691638  0.243310  1.321702 -0.369832 -0.115152 -0.320416
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
66759   0.163754  0.238590  0.535018  ...  1.291894  0.615836  0.231128
220060  0.771516 -0.591995  0.400012  ... -0.305285  0.194655  0.727446
102801  0.288234 -0.076654  0.132101  ... -0.526060  0.015958  0.314678
5223    0.590513  0.050542  0.990411  ...  0.010801 -0.336918 -0.597898
137421 -0.121484  0.585356 -0.169411  ...  0.081067  0.261366  0.641051
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
66759  -0.748155 -0.268032  0.144371 -0.285367 -0.065228  0.145067  741.00
220060  0.024505  0.966197  0.414241 -0.125686 -0.058846 -0.063499   21.79
102801  0.005312  0.118472 -0.233118 -0.771091 -0.079481  0.411275    1.00
5223   -0.292217 -0.791944  0.400907  0.343618 -0.001433  0.045482   26.16
137421 -0.266382  0.098079  0.023450  0.430399  0.075327  0.076597   55.65
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [ ]:
print(Y)

66759     0
220060    0
102801    0
5223      0
137421    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

#Entrenamiento y resultados

In [ ]:
#dividimos la data en entrenamiento y testing 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)


print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

#Modelo de aprendizaje automatico

In [ ]:

#Llamamos a nuestro modelo que en este caso seria una regresion logistica
model = LogisticRegression()

In [ ]:
#Entrenamos al modelo
model.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#Comprobamos la precision de los datos entrenados 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Precision de los datos entrenados : ', training_data_accuracy)

Precision de los datos entrenados :  0.9555273189326556

In [ ]:
#Precision de los datos de prueba o de testeo 
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Precision de los datos de testeo : ', test_data_accuracy)

Precision de los datos de testeo :  0.9390862944162437